aioredis==2.0.1
async-timeout==4.0.2
asyncio==3.4.3
hiredis==2.2.3
joblib==1.3.1
mmh3==4.0.1
numpy==1.25.2
pandas==2.0.3
pottery==3.0.0
python-dateutil==2.8.2
pytz==2023.3
redis==4.6.0
scikit-learn==1.3.0
scipy==1.11.1
six==1.16.0
threadpoolctl==3.2.0
typing_extensions==4.7.1
tzdata==2023.3
uvloop==0.17.0
